/* CSS for the Nightlies Release Dashboard */
body {
	padding: 0;
}
h4 {
	vertical-align:baseline;
	font-size: 120%;
	font-weight:500;
}

#links {
	text-align: center;
}

#links li {
	list-style: none;
	display: inline-block;
}

#links a {
	color: #666;
	/*border-bottom: 1px solid;*/
	padding: 1em;
}

#toolbar {
	width: 25ex;
	text-align: center;
	float: right;
}

