body {
    background: none repeat scroll 0 0 #e8e8e8;
}

h2{
    color: #7A7A7A;
    text-align : center;
}

#banner h1{
    color: #7A7A7A;
}

#middle {
    padding-top: 90px;
}
.etabs { 
    margin: 0; 
    padding: 0; 
}
.tab { 
    width: 25%;
    display: inline-block; 
    zoom:1; 
         *display:inline; 
         background: #eee; 
         text-align: center;
}
.tab a { 
    font-size: 14px; 
    line-height: 2em; 
    display: block; 
    padding: 0 10px; 
    outline: none; 
}
.tab a:hover { 
    background :#006db6 ;
    color: #eee;
    text-decoration: none;
}
.tab.active { 
    background: #fff; 
    padding-top: 6px; 
    position: relative; 
    top: 1px; 
}
.tab a.active { 
    font-weight: bold; 
}
.tab-container{ 
    float: left;
    width: 60%;
    background: #fff; 
    padding: 10px; 
} 
.container {
    margin: 0 auto;
}
.wrap {
    float: right;
    margin: 0 40px 3em 0;
    position: relative;
    width: 30%;
}
.wrap:nth-child(2n) {
    margin-right: 0;
}
.frame {
    height: 400px;
    overflow: hidden;
    width: 100%;
}
.frame .slidee {
    background: none repeat scroll 0 0 #fff;
    padding: 20px 25px;
}
.frame ul.items {
    font-size: 24px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.frame ul.items li {
    background: none repeat scroll 0 0 #333;
    color: #ddd;
    cursor: pointer;
    float: left;
    height: 100px;
    margin: 0 0 1px;
    padding: 0;
    text-align: center;
    width: 100%;
}
.frame ul.items li.active {
    background: none repeat scroll 0 0 #a03232;
    color: #fff;
}

.pages {
    list-style: none outside none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
}
.pages li {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin: 0 4px;
    overflow: hidden;
    text-indent: -999px;
    width: 14px;
}
.pages li:hover {
    background: none repeat scroll 0 0 #aaa;
}
.pages li.active {
    background: none repeat scroll 0 0 #666;
}
.controls {
    margin: 25px 0;
    text-align: center;
}

.slidee{
    height: 600px;
    overflow: hidden;
    width: 90%;
    margin: 10px auto auto;
}

.slidee ul.app-items {
    font-size: 24px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.slidee ul.app-items li {
    background: none repeat scroll 0 0;
    color: #000;
    cursor: pointer;
    float: left;
    height: 300px;
    margin: 0 0 1px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.slidee ul.app-items li.active {
    background: none repeat scroll 0 0 #E6F5FA;
    color: #fff;
}


.appwrap {
    width:600px;
    margin:0 auto;
    text-align:left;
    padding: 0;
    color:#989A8F;
}

.tablet {
    background-color: #E6F5FA;
    width:100%;
    height: 300px;
    padding: 0;
    list-style: none;
}

.appwrap ul.tablet li {
    float:left;
    width:calc(100%/3);
    height: 100px;
    text-align:center;
    font-size: 12px;
}

.top{
    height:30px;
    margin:0;
}

.bottom{
    height:70px;
}

.top h1{
    font-size:12px;
    margin: 0;

}
.bottom p {
    font-size:14px;
    font-family: 'Droid Serif', sans-serif;
}

.newwrap{
    display: none;
}
.pagewrap{
    display: block;
}

.pagewrap .frame {
    background: #e6f5fa;
    height: 70px;
    overflow: hidden;
    width: 90%;
}
.pagewrap .frame .slidee {

    background: none repeat scroll 0 0 #e6f5fa;
    padding: 20px 25px;
    height: 70px;
}
.timewrap .scrollbar {
    background: none repeat scroll 0 0 #ccc;
    height: 2px;
    line-height: 0;
    margin: 0 0 1em;
}

.timewrap .scrollbar .handle {
    background: none repeat scroll 0 0 #292a33;
    cursor: pointer;
    height: 100%;
    width: 100px;;
}
.timewrap .scrollbar .handle .mousearea {
    height: 20px;
    left: 0;
    position: absolute;
    top: -9px;
    width: 100%;
}

.timewrap {
    position: relative;
    margin-bottom: 1em ;

}
.countwrap{
    display: none;
}
.timewrap .frame {
    height: 80px;
    line-height: 80px;
    overflow: hidden;
}
.timewrap .frame ul {
    font-size: 50px;
    height: 100%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.timewrap .frame ul li {
    background: none repeat scroll 0 0 #333;
    color: #ddd;
    cursor: pointer;
    float: left;
    height: 80px;
    margin: 0 1px 0 0;
    padding: 0;
    text-align: center;
    width: 500px;
}
.timewrap .frame ul li.active {
    background: none repeat scroll 0 0 #a03232;
    color: #fff;
}

.appwrap ul.tablet li.counts{
    width: 100%;
    height: 100px;
}
